sandbox/stream/fabric-bridge-zookeeper/src/main/resources/META-INF/fabric-bridge-zookeeper.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://fusesource.org/fabric/bridge" xmlns:tns="http://fusesource.org/fabric/bridge/zookeeper" elementFormDefault="qualified" version="1.0" targetNamespace="http://fusesource.org/fabric/bridge/zookeeper">

  <xs:import namespace="http://fusesource.org/fabric/bridge" schemaLocation="http://fusesource.org/fabric/bridge/fabric-bridge.xsd"/>

  <xs:element name="zkbridge-connector" type="tns:zkBridgeConnector"/>

  <xs:element name="zkbridge-destinations" type="tns:zkBridgeDestinationsConfigFactory"/>

  <xs:element name="zkgateway-connector" type="tns:zkGatewayConnector"/>

  <xs:complexType name="zkBridgeConnector">
    <xs:complexContent>
      <xs:extension base="ns1:bridgeConnector">
        <xs:sequence>
          <xs:element name="exported-broker" type="ns1:brokerConfig" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="versionName" type="xs:string"/>
        <xs:attribute name="gatewayProfileName" type="xs:string"/>
        <xs:attribute name="gatewayStartupDelay" type="xs:int"/>
        <xs:attribute name="gatewayConnectRetries" type="xs:int"/>
        <xs:attribute name="zooKeeperRef" type="xs:string"/>
        <xs:attribute name="fabricServiceRef" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="zkGatewayConnector">
    <xs:complexContent>
      <xs:extension base="ns1:gatewayConnector">
        <xs:sequence>
          <xs:element name="exported-broker" type="ns1:brokerConfig" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="versionName" type="xs:string"/>
        <xs:attribute name="profileName" type="xs:string"/>
        <xs:attribute name="zooKeeperRef" type="xs:string"/>
        <xs:attribute name="fabricServiceRef" type="xs:string"/>
        <xs:attribute name="updateInterval" type="xs:long"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="zkBridgeDestinationsConfigFactory">
    <xs:complexContent>
      <xs:extension base="ns1:identifiedType">
        <xs:sequence/>
        <xs:attribute name="fabricServiceRef" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>